<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto_final_grupo3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Final_Grupo3"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Fichar"
            android:exported="false" />
        <activity
            android:name=".menos_4dias"
            android:exported="false" />
        <activity
            android:name=".mas_4dias"
            android:exported="false" />
        <activity
            android:name=".editar_usuario"
            android:exported="false" />
        <activity
            android:name=".info_usuario"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".Request"
            android:exported="false" />
    </application>

</manifest>